 .walrus-hidden {
  display: none;
}

.clickable {
  cursor: pointer;
  color: lightblue;
}

.clickable:hover {
  text-decoration: underline;
}


.black-background {
  background-color: black;
  color: white;

}

#white {
  display: none;
}

.text-highlight:hover{
  background-color: yellow;
  border: 3px solid red;
}
